<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.dkzwm.widget.srl.sample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="me.dkzwm.widget.srl.sample.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithFrameLayoutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithTextViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithWebViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithListViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithGridViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithRecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithRecyclerViewInCoordinatorLayoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestOverScrollActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestQQWebStyleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestTwoLevelRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.WithViewPagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestPullToRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestReleaseToRefreshActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestNextRefreshAtOnceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestMaterialStyleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestQQActivityStyleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestNestedHorizontalViewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestNestedViewPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestNestedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestBaseRecyclerViewAdapterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.dkzwm.widget.srl.sample.ui.TestHorizontalRefreshActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>